@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --main-font: "Quicksand";
  --text-color: rgba(21, 35, 44, 1);
  --secondary-color: rgba(211, 37, 35, 1);

  --bg-color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.icon {
  width: 62px;
  height: 61px;
}

@media (min-width: 1200px) {
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}
.header-icon-policy {
  width: 40px;
  height: 40px;
  padding: 7px 9px;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.policy-terms-list {
  position: static;
  flex: 1;
}

.header {
  height: 100px;
  display: flex;
}

.nav-policy-terms-item {
  display: flex;
  flex-direction: row;
}
.navigation-link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;

  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
}
.navigation-link:hover,
.navigation-link:focus,
.navigation-link:active {
  color: rgba(98, 132, 209, 1);
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background-color: transparent;
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  background-color: transparent;
  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon-home-img {
  margin-right: 192px;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}
.close {
  width: 40px;
  height: 40px;
  fill: rgba(255, 255, 255, 1);
}

.navigation.is-open {
  background: #0e0e0f;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 27px 35px 19px;
  position: relative;
}
.navigation.is-open {
  background: #5a819929;
  backdrop-filter: blur(24px);
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  top: 130px;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  gap: 9px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;
  background: #121213;
  padding-top: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 764px;
  background-image: url("/image/header/Home\ Page\ \(Mobile\).png");
  display: flex;
  align-items: center;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin: 8px 0;
  font-family: Mali;
  font-size: 28px;
  font-weight: 700;
  line-height: 36.4px;
  letter-spacing: -0.04em;
  text-align: center;
  color: #fbead9;
  text-shadow: 2px solid #381911;
  text-shadow: -1px -1px 0 #381911, 1px -1px 0 #381911, -1px 1px 0 #381911,
    1px 1px 0 #381911;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 20px;
  font-weight: 900;
  line-height: 40px;
  text-align: center;
  color: rgba(98, 132, 209, 1);
}

.header.is-open {
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .header__icon-home-img {
    display: none;
  }
  .navigation__list-phone {
    display: none;
  }
  .header {
    background-color: transparent;
    margin-top: 48px;
    width: 1260px;
    height: 42px;
    justify-content: space-between;

    gap: 10px;
    border-radius: 12px;
    margin-left: 90px;
    margin-right: 90px;
  }

  .header {
    display: flex;
  }
  .navigation__item-desk {
    display: none;
  }
  .header__icon-button {
    display: none;
  }
  .header__button-wrapper {
    width: auto;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .navigation {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-block: 20px;
    align-items: center;
    justify-content: center;
  }
  .navigation__list {
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: start;
    position: static;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
    padding-block: 0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    gap: 16px;
    background-image: none;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .navigation__list.navigation__list-phone {
    display: none;
  }
  .navigation__list-desk {
    display: flex;
  }
}

.main {
  background: radial-gradient(
    45.12% 61.74% at 48.03% 50%,
    #006027 0%,
    #003a12 100%
  );
}
.home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 764px;
  margin: auto;
  background-image: url("/image/home/HOME.png");
}
.home__wrapper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 256px;
}
.home-text {
  font-family: Signika;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.4px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fbead9;
  width: 335px;
}
.home__container-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-right: 50px;
}

.home__google-button_link {
  display: inline-block;
  max-width: 312px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 12px;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  width: 245px;
  height: 82px;
  margin: auto;
}

@media screen and (min-width: 1200px) {
  .home {
    margin: auto;
    width: 1440px;
    height: 700px;
    background-image: url("/image/home/HOME\ \(1\).png");
  }

  .home__wrapper {
    padding-top: 384px;
    padding-right: 650px;
  }
  .home-text {
    font-family: Signika;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #fbead9;
    width: 630px;
  }
  .home__container-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    padding-right: 350px;
  }
  .home__google-button_link {
    width: 300px;
    height: 86px;
    margin-top: 24px;
  }
}

.about {
  background: #f8d9b6;
}
.about__container {
  margin: auto;
  padding: 40px 0;
  width: 327px;
}
.about-title {
  font-family: Signika;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #381911;
}
.about-text {
  font-family: Signika;
  font-size: 22px;
  font-weight: 300;
  line-height: 35.2px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #381911;
}
.about-text-bold {
  font-family: Signika;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media screen and (min-width: 1200px) {
  .about {
    background: #0e331a;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;

    background-image: url("/image/about/About\ the\ Game.png");
    width: 1440px;
    height: 980px;
  }
  .about__container {
    margin: auto;
    padding: 310px 0 0;
    width: 737px;
  }
  .about-title {
    font-family: Signika;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #381911;
  }
  .about-text {
    font-family: Signika;
    font-size: 22px;
    font-weight: 300;
    line-height: 35.2px;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    color: #381911;
  }
  .about-text-bold {
    font-family: Signika;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
.features {
  background: #2b1813;
  padding: 40px 0 96px;
}
.features-title {
  margin: auto;
  width: 372px;
}
.features-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-container {
  width: 343px;
  height: 126px;
  padding: 16px 8px 16px 8px;
  margin: auto;
}
.features-container-title {
  font-family: Signika;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f8d9b6;
  padding-bottom: 8px;
}
.features-container-text {
  font-family: Signika;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f8d9b6;
}
@media screen and (min-width: 1200px) {
  .features-title {
    margin: auto;
    width: 372px;
  }
  .features-list {
    margin: auto;
    width: 1076px;
    padding: 0 34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 40px;
  }
  .features-container {
    width: 320px;
    padding: 16px 8px 16px 8px;
    margin: auto;
  }
}
.play {
  padding: 40px 0;
  background: #0e331a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  background: linear-gradient(180deg, #0e331a 0%, #01591b 100%);

  background-image: url("/image/play/Image\ \(How\ to\ Play\).png");
  width: 375px;
}

.play-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.play-container {
  width: 328px;
  padding: 16px 24px 16px 24px;
  gap: 8px;
  margin: auto;
}
.play-container-img {
  width: 184px;
  height: 184px;
  margin: auto;
}
.play-container-title {
  font-family: Signika;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f8d9b6;
  padding-bottom: 8px;
}
.play-container-text {
  font-family: Signika;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: #f8d9b6;
}
@media screen and (min-width: 1200px) {
  .play {
    padding: 40px 0;
    background-image: url("/image/play/photo_2024-10-25_11-05-02\ \(4\)\ 1.png");
    width: 1440px;
  }

  .play-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 1296px;
    margin: auto;
  }
  .play-container {
    width: 328px;
    padding: 16px 24px 16px 24px;
    gap: 8px;
    margin: auto;
  }
}
.advantages {
  background: #0e331a;
  padding: 40px 0;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.advantages-container {
  width: 328px;
  padding: 0px 24px 0px 24px;
  opacity: 0px;
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    width: 1296px;
    margin: auto;
  }
  .advantages-container {
    width: 240px;
    padding: 0px;
    opacity: 0px;
  }
}
.gallery-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 26px;
}
.slick-active .gallery__image {
  width: 314.62px;
  height: 570.64px;
}
.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}

.button-visible {
  display: none !important;
}

.gallery-button-icon {
  max-width: auto;
}

.gallery {
  background: linear-gradient(180deg, #0e331a 0%, #01591b 100%);
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gallery__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.gallery__list {
  max-width: 350px;
}

@media screen and (min-width: 1440px) {
}

.gallery-title-photo {
  margin: auto;
  padding: 41px 0 24px;
}
.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  max-width: 350px;
}
.gallery__item {
  background: transparent;
  width: 319.22px;
  height: 668px;
  border-radius: 16px;
  margin: 5px;
}
.gallery-avatar {
  border-radius: 16px;
}

@media screen and (min-width: 1200px) {
  .gallery {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    background: linear-gradient(180deg, #0e331a 0%, #01591b 100%);

    background-image: url("/image/gallery/Gallery\ \(1\).png");
    width: 1440px;
    height: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery-title-photo {
    display: none;
  }
  .gallery__list {
    max-width: 1190px;
    padding-top: 360px;
  }
  .gallery__item {
    background: transparent;
    max-width: 100%;
    margin: 0 12px;
  }
}

.gallery__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 56px;
  margin-top: 40px;
}

@media screen and (min-width: 1200px) {
  .gallery__nav-arrows {
    display: none;
  }
}

.slick-active .gallery__image {
  width: 360px;
}
.gallery__button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.button-visible {
  display: none !important;
}
@media screen and (min-width: 1200px) {
  .button-visible {
    display: block !important;
  }
}

.gallery__button-icon {
  width: 48px;
  height: 48px;
}
.footer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  margin: auto;
  background-image: url("/image/footer/Footer.png");
  width: 375px;
  height: 604.57px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 363.57px;
  gap: 32px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 163px;
  height: 26px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #fbead9;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-text-two {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fbead9;
}

.footer-texts {
  padding: 0 1px;
  color: rgba(255, 255, 255, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer-container {
    padding-top: 343.57px;
  }
  .footer {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 540px;

    margin: auto;
    background-image: url("/image/footer/Footer\ \(1\).png");
  }
}
.policy-terms-main-container {
  padding: 130px 17px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 375px;
  height: 481px;
  margin: auto;
  color: #f8d9b6;
  background-image: url("/image/play/Image\ \(How\ to\ Play\).png");
}
.policy-terms-main-title {
  font-family: Mali;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f8d9b6;
}
.policy-terms-main-text-one {
  font-family: Signika;
  font-size: 16px;
  font-weight: 300;
  line-height: 25.6px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy-terms-main-text-two {
  font-family: Signika;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.policy {
  background: radial-gradient(
    45.12% 61.74% at 48.03% 50%,
    #006027 0%,
    #003a12 100%
  );
}
.policy-terms-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: start;
  padding: 40px 16px 76px;
  color: #fbead9;
}

.policy-terms-text {
  font-family: Signika;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  margin-top: 40px;
}

.policy-terms-text-one {
  font-family: Signika;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.terms-list {
  list-style-type: disc;
  font-family: Signika;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  padding-left: 35px;
}
.terms-list-bold {
  font-family: Signika;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-main-container {
    padding: 130px 17px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 624px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #f8d9b6;
    background-image: url("/image/play/photo_2024-10-25_11-05-02\ \(4\)\ 1.png");
  }
  .policy-terms-main-title {
    width: 634px;

    font-family: Mali;
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-main-text-one {
    width: 634px;
    font-family: Signika;
    font-size: 18px;
    font-weight: 300;
    line-height: 28.8px;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-main-text-two {
    width: 634px;
    font-family: Signika;
    font-size: 22px;
    font-weight: 300;
    line-height: 35.2px;
    letter-spacing: 0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  .policy-terms-container {
    padding: 80px 72px;
    align-items: start;
  }
}
